{% extends 'basic_generic.html' %}

{% block content %}
<br>
<br>
<br>
<br>
  <h1>{{ book.title }}</h1>

  <p><strong style="font-style: italic;">Автор:</strong> {{ book.author }}</p> 
  <br>
  <p><strong style="font-style: italic;">Кратко о книге:</strong> {{ book.summary }}</p>
  <br>
  <p><strong style="font-style: italic;">Жанр:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> 
  <br> 
  <p><strong style="font-style: italic;">Мой рейтинг:</strong> {{ book.stars }}</p>
{% endblock %}